<?xml version="1.0"?>
<launch>
    <arg name="filepath" />

    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock --loop $(arg filepath)" />

    <include file="$(find mad_autonet)/launch/start.launch" >
        <arg name="device" value="Myriad" />
        <arg name="input" value="/signs_camera/image_raw" />
    </include>
</launch>