<?xml version="1.0"?>
<launch>
    <arg name="config_path" default="$(find mad_autonet)/models/MbN2_416x416_t1.json" />
    <arg name="ir_path" default="$(find mad_autonet)/models/MbN2_416x416_t1_FP16.xml" />
    <arg name="device" default="CPU" />
    <arg name="input" default="$(find mad_autonet)/test.jpg" />

    <node pkg="mad_autonet" type="app" name="detector" output="screen" respawn="false">
        <param name="config_path" value="$(arg config_path)" />
        <param name="ir_path" value="$(arg ir_path)" />
        <param name="device" value="$(arg device)" />
        <param name="input" value="$(arg input)" />
    </node>
</launch>
