[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
scipy = "*"
tqdm = "*"
tensorflow = "==1.14"
networkx = "==2.3"
defusedxml = "*"
test-generator = "==0.1.1"

[requires]
python_version = "3.5"
